In [3]:
! pip install padelpy

Requirement already satisfied: padelpy in /usr/local/lib/python3.7/dist-packages (0.1.11)

In [4]:
! wget https://github.com/dataprofessor/padel/raw/main/fingerprints_xml.zip
! unzip fingerprints_xml.zip

--2022-03-28 08:33:31--  https://github.com/dataprofessor/padel/raw/main/fingerprints_xml.zip
Resolving github.com (github.com)... 52.69.186.44
Connecting to github.com (github.com)|52.69.186.44|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/dataprofessor/padel/main/fingerprints_xml.zip [following]
--2022-03-28 08:33:32--  https://raw.githubusercontent.com/dataprofessor/padel/main/fingerprints_xml.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10871 (11K) [application/zip]
Saving to: ‘fingerprints_xml.zip’

fingerprints_xml.zi 100%[===================>]  10.62K  --.-KB/s    in 0s

2022-03-28 08:33:32 (29.6 MB/s) - ‘fingerprints_xml.zip’ saved [10871/10871]

Archive:  fingerprints_xml.zip
  inflating: AtomPairs2DFingerprintCount.xml
  inflating: AtomPairs2DFingerprinter.xml
  inflating: EStateFingerprinter.xml
  inflating: ExtendedFingerprinter.xml
  inflating: Fingerprinter.xml
  inflating: GraphOnlyFingerprinter.xml
  inflating: KlekotaRothFingerprintCount.xml
  inflating: KlekotaRothFingerprinter.xml
  inflating: MACCSFingerprinter.xml
  inflating: PubchemFingerprinter.xml
  inflating: SubstructureFingerprintCount.xml
  inflating: SubstructureFingerprinter.xml

In [5]:
import glob
xml_files = glob.glob("*.xml")
xml_files.sort()
xml_files

['AtomPairs2DFingerprintCount.xml',
 'AtomPairs2DFingerprinter.xml',
 'EStateFingerprinter.xml',
 'ExtendedFingerprinter.xml',
 'Fingerprinter.xml',
 'GraphOnlyFingerprinter.xml',
 'KlekotaRothFingerprintCount.xml',
 'KlekotaRothFingerprinter.xml',
 'MACCSFingerprinter.xml',
 'PubchemFingerprinter.xml',
 'SubstructureFingerprintCount.xml',
 'SubstructureFingerprinter.xml']

In [6]:
FP_list = ['AtomPairs2DCount',
           'AtomPairs2D',
           'EState',
           'CDKextended',
           'CDK',
           'CDKgraphonly',
           'KlekotaRothCount',
           'KlekotaRoth',
           'MACCS',
           'PubChem',
           'SubstructureCount',
           'Substructure']

In [7]:
fp = dict(zip(FP_list, xml_files))
fp

{'AtomPairs2D': 'AtomPairs2DFingerprinter.xml',
 'AtomPairs2DCount': 'AtomPairs2DFingerprintCount.xml',
 'CDK': 'Fingerprinter.xml',
 'CDKextended': 'ExtendedFingerprinter.xml',
 'CDKgraphonly': 'GraphOnlyFingerprinter.xml',
 'EState': 'EStateFingerprinter.xml',
 'KlekotaRoth': 'KlekotaRothFingerprinter.xml',
 'KlekotaRothCount': 'KlekotaRothFingerprintCount.xml',
 'MACCS': 'MACCSFingerprinter.xml',
 'PubChem': 'PubchemFingerprinter.xml',
 'Substructure': 'SubstructureFingerprinter.xml',
 'SubstructureCount': 'SubstructureFingerprintCount.xml'}

In [8]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Enowtakang/qsar1/main/pIC50_data.csv')
df

,Unnamed: 0,molecule_chembl_id,canonical_smiles,class,MW,LogP,NumHDonors,NumHAcceptors,pIC50
0,0,CHEMBL133897,CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1,active,312.325,2.8032,0.0,6.0,6.124939
1,1,CHEMBL336398,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1,active,376.913,4.5546,0.0,5.0,7.000000
2,2,CHEMBL131588,CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1,inactive,426.851,5.3574,0.0,5.0,4.301030
3,3,CHEMBL130628,O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F,active,404.845,4.7069,0.0,5.0,6.522879
4,4,CHEMBL130478,CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C,active,346.334,3.0953,0.0,6.0,6.096910
...,...,...,...,...,...,...,...,...,...
5659,5659,CHEMBL4779440,Brc1ccc([N+]2=Cc3ccccc3CC2)cc1.[Br-],inactive,287.180,3.7683,0.0,0.0,4.978811
5660,5660,CHEMBL417799,C[n+]1cc2c3c(ccc2c2ccc4cc5c(cc4c21)OCO5)OCO3,intermediate,332.335,3.4281,0.0,4.0,5.913640
5661,5661,CHEMBL13045,COc1ccc2c(c[n+](C)c3c4cc5c(cc4ccc23)OCO5)c1OC,intermediate,348.378,3.7166,0.0,4.0,5.838632
5662,5662,CHEMBL3085398,C=CC(C)(C)c1cc([C@@H]2CC(=O)c3c(O)cc(O)c(CC=C(...,inactive,424.493,5.1878,4.0,6.0,4.537902
5663,5663,CHEMBL253998,CC(C)=CCc1c(O)cc(O)c2c1O[C@H](c1ccccc1)CC2=O,active,324.376,4.3130,2.0,4.0,8.193820

In [9]:
df2 = pd.concat( [df['canonical_smiles'],df['molecule_chembl_id']], axis=1 )
df2.to_csv('molecule.smi', sep='\t', index=False, header=False)
df2

                                       canonical_smiles molecule_chembl_id
0                 CCOc1nn(-c2cccc(OCc3ccccc3)c2)c(=O)o1       CHEMBL133897
1            O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC1CC1       CHEMBL336398
2     CN(C(=O)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F)c1ccccc1       CHEMBL131588
3         O=C(N1CCCCC1)n1nc(-c2ccc(Cl)cc2)nc1SCC(F)(F)F       CHEMBL130628
4             CSc1nc(-c2ccc(OC(F)(F)F)cc2)nn1C(=O)N(C)C       CHEMBL130478
...                                                 ...                ...
5659               Brc1ccc([N+]2=Cc3ccccc3CC2)cc1.[Br-]      CHEMBL4779440
5660       C[n+]1cc2c3c(ccc2c2ccc4cc5c(cc4c21)OCO5)OCO3       CHEMBL417799
5661      COc1ccc2c(c[n+](C)c3c4cc5c(cc4ccc23)OCO5)c1OC        CHEMBL13045
5662  C=CC(C)(C)c1cc([C@@H]2CC(=O)c3c(O)cc(O)c(CC=C(...      CHEMBL3085398
5663       CC(C)=CCc1c(O)cc(O)c2c1O[C@H](c1ccccc1)CC2=O       CHEMBL253998

[5664 rows x 2 columns]

In [10]:
from padelpy import padeldescriptor

fingerprint = 'Substructure'

fingerprint_output_file = ''.join([fingerprint,'.csv']) #Substructure.csv
fingerprint_descriptortypes = fp[fingerprint]

padeldescriptor(mol_dir='molecule.smi', 
                d_file=fingerprint_output_file, #'Substructure.csv'
                #descriptortypes='SubstructureFingerprint.xml', 
                descriptortypes= fingerprint_descriptortypes,
                detectaromaticity=True,
                standardizenitro=True,
                standardizetautomers=True,
                threads=2,
                removesalt=True,
                log=True,
                fingerprints=True)

In [13]:
descriptors = pd.read_csv(fingerprint_output_file)
descriptors

,Name,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP7,SubFP8,SubFP9,...,SubFP298,SubFP299,SubFP300,SubFP301,SubFP302,SubFP303,SubFP304,SubFP305,SubFP306,SubFP307
0,CHEMBL133897,1,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
1,CHEMBL336398,0,1,1,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
2,CHEMBL131588,0,0,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
3,CHEMBL130628,0,1,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
4,CHEMBL130478,0,0,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5659,CHEMBL4779440,0,1,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,0,0,1
5660,CHEMBL417799,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,0,0,1
5661,CHEMBL13045,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,0,0,1
5662,CHEMBL253998,1,1,0,0,1,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
5663,CHEMBL3085398,1,1,0,1,1,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1

In [14]:
df3_X = descriptors
df3_X

,Name,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP7,SubFP8,SubFP9,...,SubFP298,SubFP299,SubFP300,SubFP301,SubFP302,SubFP303,SubFP304,SubFP305,SubFP306,SubFP307
0,CHEMBL133897,1,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
1,CHEMBL336398,0,1,1,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
2,CHEMBL131588,0,0,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
3,CHEMBL130628,0,1,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
4,CHEMBL130478,0,0,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5659,CHEMBL4779440,0,1,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,0,0,1
5660,CHEMBL417799,0,0,0,0,0,0,0,0,0,...,1,0,1,1,0,0,0,0,0,1
5661,CHEMBL13045,0,0,0,0,0,0,0,0,0,...,1,0,1,1,1,0,0,0,0,1
5662,CHEMBL253998,1,1,0,0,1,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
5663,CHEMBL3085398,1,1,0,1,1,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1

In [17]:
df3_Y = df['pIC50']
df3_Y

0       6.124939
1       7.000000
2       4.301030
3       6.522879
4       6.096910
          ...
5659    4.978811
5660    5.913640
5661    5.838632
5662    4.537902
5663    8.193820
Name: pIC50, Length: 5664, dtype: float64

In [18]:
dataset3 = pd.concat([df3_X,df3_Y], axis=1)
dataset3

,Name,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP7,SubFP8,SubFP9,...,SubFP299,SubFP300,SubFP301,SubFP302,SubFP303,SubFP304,SubFP305,SubFP306,SubFP307,pIC50
0,CHEMBL133897,1,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,1,6.124939
1,CHEMBL336398,0,1,1,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,1,7.000000
2,CHEMBL131588,0,0,0,0,0,0,0,0,1,...,0,1,1,1,0,0,0,0,1,4.301030
3,CHEMBL130628,0,1,0,0,0,0,0,0,1,...,0,1,1,1,0,0,0,0,1,6.522879
4,CHEMBL130478,0,0,0,0,0,0,0,0,1,...,0,1,1,1,0,0,0,0,1,6.096910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5659,CHEMBL4779440,0,1,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,1,4.978811
5660,CHEMBL417799,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,5.913640
5661,CHEMBL13045,0,0,0,0,0,0,0,0,0,...,0,1,1,1,0,0,0,0,1,5.838632
5662,CHEMBL253998,1,1,0,0,1,0,0,0,0,...,0,1,1,1,0,0,0,0,1,4.537902
5663,CHEMBL3085398,1,1,0,1,1,0,0,0,0,...,0,1,1,1,0,0,0,0,1,8.193820

In [20]:
dataset3.to_csv('acetylcholinesterase_06_bioactivity_data_3class_pIC50_pubchem_fp.csv', index=False)